PROD-9-26-19/force-app/main/default/flows/AddAsset2Bid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddVarToCol_BidOnAsset</name>
        <label>AddVarToCol_BidOnAsset</label>
        <locationX>657</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Col_BidOnAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_NewBidOnAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBidAssetFields</name>
        <label>AssignBidAssetFields</label>
        <locationX>668</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>SOV_BidOnAsset.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_AssetLooped.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BidOnAsset.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_BidId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NewBidOnAsset.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_AssetLooped.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NewBidOnAsset.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_BidId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_NewBidOnAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddVarToCol_BidOnAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssignToFalse</name>
        <label>Set_AssignToFalse</label>
        <locationX>363</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>Var_Assign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssignToTrue</name>
        <label>Set_AssignToTrue</label>
        <locationX>144</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>Var_Assign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfAssetExistAlready</name>
        <label>CheckIfAssetExistAlready</label>
        <locationX>394</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Compare_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AssetNotFound</defaultConnectorLabel>
        <rules>
            <name>AssetFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOV_AssetLooped.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SOV_BidOnAsset.Asset__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AssignToFalse</targetReference>
            </connector>
            <label>AssetFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAssignTrueOrFalse</name>
        <label>IsAssignTrueOrFalse</label>
        <locationX>492</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>LoopOppAssets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Assign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBidAssetFields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Inputs the Opportunity and Bid IDs to grab the Assets for the Opportunity and add to the Bid</description>
    <label>AddAllAsset2Bid</label>
    <loops>
        <name>Compare_Asset</name>
        <label>Compare Asset</label>
        <locationX>140</locationX>
        <locationY>528</locationY>
        <assignNextValueToReference>SOV_BidOnAsset</assignNextValueToReference>
        <collectionReference>Col_BidsForAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfAssetExistAlready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsAssignTrueOrFalse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOppAssets</name>
        <label>LoopOppAssets</label>
        <locationX>433</locationX>
        <locationY>223</locationY>
        <assignNextValueToReference>SOV_AssetLooped</assignNextValueToReference>
        <collectionReference>Col_Assets4Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AssignToTrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddCol_BidOnAsset2Bid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddCol_BidOnAsset2Bid</name>
        <label>AddCol_BidOnAsset2Bid</label>
        <locationX>654</locationX>
        <locationY>220</locationY>
        <inputReference>Col_BidOnAsset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>LookupAssetsForOpp</name>
        <label>LookupAssetsForOpp</label>
        <locationX>143</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOppAssets</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppId</elementReference>
            </value>
        </filters>
        <object>Portfolio_Asset__c</object>
        <outputReference>Col_Assets4Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpAssetsOnBid</name>
        <label>LookUpAssetsOnBid</label>
        <locationX>142</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupAssetsForOpp</targetReference>
        </connector>
        <filters>
            <field>Bid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_BidId</elementReference>
            </value>
        </filters>
        <object>BidOnAsset__c</object>
        <outputReference>Col_BidsForAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpOpp</name>
        <label>LookUpOpp</label>
        <locationX>140</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUpAssetsOnBid</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_BidId</elementReference>
            </value>
        </filters>
        <object>Bid__c</object>
        <outputAssignments>
            <assignToReference>Var_OppId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>SC1</name>
        <label>SC1</label>
        <locationX>30</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S1F1Out</name>
            <fieldText>Bid Asset {!SOV_BidOnAsset.Asset__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2</name>
        <label>scr2</label>
        <locationX>816</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sc2F1</name>
            <fieldText>End Loop
Old {!SOV_BidOnAsset.Asset__c}

New {!SOV_NewBidOnAsset.Asset__c}

AL ID {!SOV_AssetLooped.Id}
BOA_Asset{!SOV_BidOnAsset.Asset__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookUpOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>Col_Assets4Opp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portfolio_Asset__c</objectType>
    </variables>
    <variables>
        <name>Col_BidOnAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BidOnAsset__c</objectType>
    </variables>
    <variables>
        <name>Col_BidsForAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BidOnAsset__c</objectType>
    </variables>
    <variables>
        <name>SOV_AssetLooped</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portfolio_Asset__c</objectType>
    </variables>
    <variables>
        <name>SOV_BidOnAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BidOnAsset__c</objectType>
    </variables>
    <variables>
        <description>For new Asset not already existing on Bid</description>
        <name>SOV_NewBidOnAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BidOnAsset__c</objectType>
    </variables>
    <variables>
        <description>Used to byPass Assignment</description>
        <name>Var_Assign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_BidId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
