PROD-9-26-19/force-app/main/default/flows/ChildRecordFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Adding_to_Collection</name>
        <label>Adding to Collection</label>
        <locationX>503</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>FinalUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterationOverChild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SobjectCollectionUpdate</name>
        <label>SobjectCollectionUpdate</label>
        <locationX>319</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>ChildRecords.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ChildRecordFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactive Investor Contacts</label>
    <loops>
        <name>IterationOverChild</name>
        <label>IterationOverChild</label>
        <locationX>316</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>ChildRecords</assignNextValueToReference>
        <collectionReference>ChildCollectionInformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SobjectCollectionUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchingChild</name>
        <label>FetchingChild</label>
        <locationX>309</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterationOverChild</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Contact__c</object>
        <outputReference>ChildCollectionInformation</outputReference>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Brookfield_Relationship_Manager_Form__c</queriedFields>
        <queriedFields>Inactive__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCollection</name>
        <label>UpdateCollection</label>
        <locationX>526</locationX>
        <locationY>310</locationY>
        <inputReference>FinalUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>FetchingChild</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChildCollectionInformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Contact__c</objectType>
    </variables>
    <variables>
        <name>ChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Contact__c</objectType>
    </variables>
    <variables>
        <name>DataID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Contact__c</objectType>
    </variables>
</Flow>
