PROD-12120/force-app/main/default/flows/Create_Opportunities_from_Side_Car.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Side_Car_Values_to_Collection</name>
        <label>Add Side Car Values to Collection</label>
        <locationX>974</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soSideCars.Sidecar_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Investment_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soSideCars.Investment_Vehicle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Mass_Created_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Probability_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100%: Committed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedWon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.FIR_Investment_Period_Committed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIRInvestmentPeriodCommitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.FIR_Investment_Period_Invested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIRInvestmentPeriodInvested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.FIR_Investment_Period_Uninvested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIRInvestmentPeriodUninvested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.FIR_Post_Investment_Period_Invested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIRPostInvestmentPeriodInvested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.FIR_Post_Investment_Period_Univested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIRPostInvestmentPeriodUnivested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Proposed_LPAC_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProposedLPACStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Fee_Terms_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeeTermsComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.Source_of_Capital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceofCapital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soSideCarOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppsRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Side_Car_Values_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Side_Car_Values_to_Collection</name>
        <label>Copy Side Car Values to Collection</label>
        <locationX>647</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>colSideCarOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soSideCarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Side_Cars</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sidecar_Won</name>
        <label>Sidecar Won?</label>
        <locationX>664</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Side_Cars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soSideCars.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soSideCars.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Side_Car_Values_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SS: 11/1/2019 Created a new variable to retain Opps Record Type for record create.</description>
    <formulas>
        <name>ClosedWon</name>
        <dataType>String</dataType>
        <expression>If(ISPICKVAL({!soSideCars.Status__c} , &quot;Closed Won&quot;), &quot;8: Closed&quot;, &quot;4: Fund due diligence&quot;)</expression>
    </formulas>
    <formulas>
        <name>SizeMinusSideCar</name>
        <dataType>Currency</dataType>
        <expression>{!OpportunitySize}-{!soSideCars.Sidecar_Size__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Opportunities from Side Car {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunities from Side Car</label>
    <loops>
        <name>Loop_Through_Side_Cars</name>
        <label>Loop Through Side Cars</label>
        <locationX>358</locationX>
        <locationY>270</locationY>
        <assignNextValueToReference>soSideCars</assignNextValueToReference>
        <collectionReference>colSideCars</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sidecar_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Side_Car_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Side_Car_Opportunities</name>
        <label>Create All Side Car Opportunities</label>
        <locationX>356</locationX>
        <locationY>435</locationY>
        <inputReference>colSideCarOpportunities</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_Side_Cars</name>
        <label>Look Up Side Cars</label>
        <locationX>361</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Side_Cars</targetReference>
        </connector>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Sidecar__c</object>
        <outputReference>colSideCars</outputReference>
        <queriedFields>Investment_Vehicle__c</queriedFields>
        <queriedFields>Sidecar_Size__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Look_Up_Side_Cars</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>colSideCarOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>colSideCars</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sidecar__c</objectType>
    </variables>
    <variables>
        <name>Consultant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>FeeTermsComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FIRInvestmentPeriodCommitted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FIRInvestmentPeriodInvested</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FIRInvestmentPeriodUninvested</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FIRPostInvestmentPeriodInvested</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FIRPostInvestmentPeriodUnivested</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LegalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>OpportunitySize</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SS: Created to capture and retain Opportunity Record Type from event caller.</description>
        <name>OppsRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProposedLPACStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemainingSize</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SideCarOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>SideCarStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>soSideCarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>soSideCars</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sidecar__c</objectType>
    </variables>
    <variables>
        <name>SourceofCapital</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
