PROD-12120/force-app/main/default/flows/Create_Related_Deliverable_Cases_from_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Usable_Collection</name>
        <label>Add to Usable Collection</label>
        <locationX>583</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>vParsedRelatedDeliverableCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneRelatedDelivable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_Original_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Original_Collection</name>
        <label>Remove from Original Collection</label>
        <locationX>620</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>vSelectedRelatedDeliverables</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstRelatedDeliverable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Related_Deliverables_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Square_Brackets</name>
        <label>Remove Square Brackets</label>
        <locationX>299</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>vSelectedRelatedDeliverables</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBraketlessRelatedDeliverables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Related_Deliverables_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Related_Deliverables_Parsed</name>
        <label>All Related Deliverables Parsed?</label>
        <locationX>304</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Add_to_Usable_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedRelatedDeliverables</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Related_Deliverables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates case from Events.</description>
    <formulas>
        <name>OneRelatedDelivable</name>
        <dataType>String</dataType>
        <expression>TRIM( 
    LEFT(
             {!vSelectedRelatedDeliverables} , 
             FIND(
                    &quot;;&quot;,{!vSelectedRelatedDeliverables}
            ) - 1
      ) 
)</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstRelatedDeliverable</name>
        <dataType>String</dataType>
        <expression>Trim(Substitute({!vSelectedRelatedDeliverables}, {!OneRelatedDelivable}  + &quot;;&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>vBraketlessRelatedDeliverables</name>
        <dataType>String</dataType>
        <expression>Trim(Substitute(Substitute({!vRelatedDeliverables}, &quot;[&quot;, &quot;&quot;), &quot;]&quot; , &quot;&quot;) ) + &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Create Related Deliverable Cases from Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Related Deliverable Cases from Events</label>
    <loops>
        <name>Loop_Through_Related_Deliverables</name>
        <label>Loop Through Related Deliverables</label>
        <locationX>307</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>vRelatedDeliverablesString</assignNextValueToReference>
        <collectionReference>vParsedRelatedDeliverableCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Cases</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>308</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Loop_Through_Related_Deliverables</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Vehicle__c</field>
            <value>
                <elementReference>InvestmentVehicle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120b0000001J41AAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vRelatedDeliverablesString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vRelatedDeliverablesString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>AssociatedCRM</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Look_up_Task</name>
        <label>Look up Task</label>
        <locationX>299</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Square_Brackets</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>vRelatedDeliverables</assignToReference>
            <field>Action_Items__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Related_Deliverable_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Look_up_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssociatedCRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvestmentVehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vParsedRelatedDeliverableCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedDeliverables</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRelatedDeliverablesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSelectedRelatedDeliverables</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
