PROD-12120/force-app/main/default/flows/OppDeepClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>FillAssetToTransfer</name>
        <label>FillAssetToTransfer</label>
        <locationX>303</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>varAssetsToTransfer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetSelectedAssets</name>
        <label>GetSelectedAssets</label>
        <locationX>152</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varAssetSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReparentAsset</name>
        <label>ReparentAsset</label>
        <locationX>463</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>nAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChildOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillAssetToTransfer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_assets_To_Transfer</name>
        <label>Any assets To Transfer</label>
        <locationX>336</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>End_Opportunity_Deep_Clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assets</defaultConnectorLabel>
        <rules>
            <name>There_are_assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetSelected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectParentAssets</targetReference>
            </connector>
            <label>There are assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Asset_Selected</name>
        <label>Was Asset Selected</label>
        <locationX>460</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>AssetSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not selected asset</defaultConnectorLabel>
        <rules>
            <name>Selected_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetSelected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>nAsset.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReparentAsset</targetReference>
            </connector>
            <label>Selected Asset</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Portfolio_Asset__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Opportunity Deep Clone</label>
    <loops>
        <name>AssetSelection</name>
        <label>AssetSelection</label>
        <locationX>151</locationX>
        <locationY>478</locationY>
        <assignNextValueToReference>nAsset</assignNextValueToReference>
        <collectionReference>varParentAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Asset_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tranfer_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Opp</name>
        <label>Create Child Opp</label>
        <locationX>149</locationX>
        <locationY>270</locationY>
        <assignRecordIdToReference>varChildOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Any_assets_To_Transfer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Messsge</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varParentOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Deal_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Nature__c</field>
            <value>
                <elementReference>Deal_Nature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <elementReference>varParentOpportunity.Deal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_City__c</field>
            <value>
                <elementReference>varParentOpportunity.Office_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Country__c</field>
            <value>
                <elementReference>varParentOpportunity.Office_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private__c</field>
            <value>
                <elementReference>varParentOpportunity.Private__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varParentOpportunity.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>varParentOpportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Parent_Opportunity_Lookup</name>
        <label>Parent Opportunity Lookup</label>
        <locationX>146</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varParentOpportunity.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Amount</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.CloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Deal_Nature__c</assignToReference>
            <field>Deal_Nature__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Deal_Type__c</assignToReference>
            <field>Deal_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Office_City__c</assignToReference>
            <field>Office_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Office_Country__c</assignToReference>
            <field>Office_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.Private__c</assignToReference>
            <field>Private__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentOpportunity.StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SelectParentAssets</name>
        <label>SelectParentAssets</label>
        <locationX>150</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetSelection</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Portfolio_Asset__c</object>
        <outputReference>varParentAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Tranfer_Assets</name>
        <label>Tranfer Assets</label>
        <locationX>460</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>End_Opportunity_Deep_Clone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Messsge</targetReference>
        </faultConnector>
        <inputReference>varAssetsToTransfer</inputReference>
    </recordUpdates>
    <screens>
        <name>Child_Opportunity</name>
        <label>Child Opportunity</label>
        <locationX>329</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedAssets</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varParentOpportunity.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varParentOpportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deal_Size</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varParentOpportunity.Amount</elementReference>
            </defaultValue>
            <fieldText>Deal Size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Deal_Nature</name>
            <defaultValue>
                <elementReference>varParentOpportunity.Deal_Nature__c</elementReference>
            </defaultValue>
            <fieldText>Deal Nature</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assets</name>
            <choiceReferences>varAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Assets To Transfer</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Opportunity_Deep_Clone</name>
        <label>End Opportunity Deep Clone</label>
        <locationX>591</locationX>
        <locationY>233</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>END</name>
            <fieldText>Cloning of the opportunity has completed successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Messsge</name>
        <label>Flow Messsge</label>
        <locationX>377</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowMesssge</name>
            <fieldText>Flow Error Messsge: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Parent_Opportunity_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>nAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portfolio_Asset__c</objectType>
    </variables>
    <variables>
        <description>selected asset ids separating with semicolons and a space</description>
        <name>varAssetSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetsToTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portfolio_Asset__c</objectType>
    </variables>
    <variables>
        <name>varChildOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>parent opportunity ID</description>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portfolio_Asset__c</objectType>
    </variables>
    <variables>
        <name>varParentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
