PROD-12120/force-app/main/default/flows/Remove_Investor_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_Investor_Contact</name>
        <label>Copy Investor Contact</label>
        <locationX>706</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>colInvestorContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInvestorContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Investor_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Investor_Contact</name>
        <label>Update Investor Contact</label>
        <locationX>611</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>LoopInvestorContacts.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Investor_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Investor Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Investor Contacts</label>
    <loops>
        <name>Loop_Through_Investor_Contacts</name>
        <label>Loop Through Investor Contacts</label>
        <locationX>299</locationX>
        <locationY>173</locationY>
        <assignNextValueToReference>LoopInvestorContacts</assignNextValueToReference>
        <collectionReference>colInvestorContactID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Investor_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Investor_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FInd_All_Investor_Contact_Records</name>
        <label>FInd All Investor Contact Records</label>
        <locationX>296</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Investor_Contacts</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Contact__c</object>
        <outputReference>colInvestorContactID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Inactive__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Investor_Contacts</name>
        <label>Update Investor Contacts</label>
        <locationX>300</locationX>
        <locationY>442</locationY>
        <inputReference>colInvestorContactID</inputReference>
    </recordUpdates>
    <startElementReference>FInd_All_Investor_Contact_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampaignMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colInvestorContactID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Contact__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvestorContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Investor_Position__c</objectType>
    </variables>
    <variables>
        <name>LoopInvestorContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Contact__c</objectType>
    </variables>
</Flow>
