PROD-12120/force-app/main/default/flows/Remove_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Campaign_Members_Found</name>
        <label>Campaign Members Found</label>
        <locationX>301</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCampaignMembersID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Campaign_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Remove Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Campaign Members</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Campaign_Members</name>
        <label>Delete Campaign Members</label>
        <locationX>305</locationX>
        <locationY>327</locationY>
        <inputReference>colCampaignMembersID</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FInd_All_Campaign_Member_Records</name>
        <label>FInd All Campaign Member Records</label>
        <locationX>296</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Members_Found</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>colCampaignMembersID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>FInd_All_Campaign_Member_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colCampaignMembersID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
