PROD_10-24-19/force-app/main/default/flows/Edit_Case_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Screen_Items_to_Cases</name>
        <label>Add Screen Items to Cases</label>
        <locationX>656</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>CasesSelected.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesSelected.Anticipated_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesSelected.Date_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Requested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Screen_Inputs_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Screen_Inputs_to_Collection</name>
        <label>Copy Screen Inputs to Collection</label>
        <locationX>508</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>colCasesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CasesSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Edit Case Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Case Description</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>203</locationX>
        <locationY>237</locationY>
        <assignNextValueToReference>CasesSelected</assignNextValueToReference>
        <collectionReference>colCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Description_to_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Data_from_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Cases</name>
        <label>Find Cases</label>
        <locationX>203</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filters>
            <field>Anticipated_Completion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>colCases</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Anticipated_Completion_Date__c</queriedFields>
        <queriedFields>Date_Requested__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Data_from_Screen</name>
        <label>Update Data from Screen</label>
        <locationX>205</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>colCasesUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Description_to_Case</name>
        <label>Add Description to Case</label>
        <locationX>579</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Screen_Items_to_Cases</targetReference>
        </connector>
        <fields>
            <name>CaseNumber</name>
            <fieldText>Case Number: {!CasesSelected.CaseNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <fieldText>Subject: {!CasesSelected.Subject}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Requested</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CasesSelected.Date_Requested__c</elementReference>
            </defaultValue>
            <fieldText>Date Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CasesSelected.Anticipated_Completion_Date__c</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <elementReference>CasesSelected.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>200</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletedCases</name>
            <fieldText>You have completed all outstanding Case Descriptions.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Cases</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CasesSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>colCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>colCasesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
