PROD_10-24-19/force-app/main/default/flows/Update_Outstanding_Request_Cases_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Date_and_Subject_to_Opportunity_Field</name>
        <label>Add Date and Subject to Opportunity Field</label>
        <locationX>614</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>HoldText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutstandingRequestCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OutstandingRequestCases</name>
        <dataType>String</dataType>
        <expression>{!HoldText} &amp; {!CasesSelected.Subject} &amp;
&quot; - Case Received Date: &quot; &amp; 
TEXT(Datevalue({!CasesSelected.CreatedDate})) &amp; 
&quot; - Case Due Date: &quot; &amp;
Text({!CasesSelected.Anticipated_Completion_Date__c}) &amp;  
Substitute({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Update Outstanding Request Cases Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Outstanding Request Cases Field</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>255</locationX>
        <locationY>257</locationY>
        <assignNextValueToReference>CasesSelected</assignNextValueToReference>
        <collectionReference>colCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Date_and_Subject_to_Opportunity_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Outstanding_Request_Cases_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Update_Outstanding_Request_Cases_on_Opportunities</name>
        <label>Update Outstanding Request Cases on Opportunities</label>
        <locationX>250</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>colCases</outputReference>
        <queriedFields>Anticipated_Completion_Date__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outstanding_Request_Cases_field</name>
        <label>Update Outstanding Request Cases field</label>
        <locationX>253</locationX>
        <locationY>406</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>HoldText</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Update_Outstanding_Request_Cases_on_Opportunities</startElementReference>
    <status>Active</status>
    <variables>
        <name>CasesSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>colCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>HoldText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
