WMG112519/force-app/main/default/flows/Find_Contact_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Task_or_Event</name>
        <label>Task or Event</label>
        <locationX>355</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Record_w_RIA_fields_from_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task</defaultConnectorLabel>
        <rules>
            <name>Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Record_w_RIA_fields_from_Contact</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <description>Flow will pull the activity related Contact Details</description>
    <interviewLabel>Find Contact Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>207</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_or_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel_Covered_By__c</queriedFields>
        <queriedFields>Sales_Person_Team__c</queriedFields>
        <queriedFields>AdvisorAUMTier__c</queriedFields>
        <queriedFields>Total_Assets_RIA_FIRM__c</queriedFields>
        <queriedFields>Firm_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Record_w_RIA_fields_from_Contact</name>
        <label>Update Event Record w-RIA fields from Contact</label>
        <locationX>551</locationX>
        <locationY>4</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RIA_Advisor_AUM_Tier__c</field>
            <value>
                <elementReference>GetContact.AdvisorAUMTier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Channel_Covered_By__c</field>
            <value>
                <elementReference>GetContact.Channel_Covered_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Firm_Type__c</field>
            <value>
                <elementReference>GetContact.Firm_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Sales_Person_Team__c</field>
            <value>
                <elementReference>GetContact.Sales_Person_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Total_Assets_RIA_FIRM__c</field>
            <value>
                <elementReference>GetContact.Total_Assets_RIA_FIRM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Record_w_RIA_fields_from_Contact</name>
        <label>Update Task Record w-RIA fields from Contact</label>
        <locationX>557</locationX>
        <locationY>216</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RIA_Advisor_AUM_Tier__c</field>
            <value>
                <elementReference>GetContact.AdvisorAUMTier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Channel_Covered_By__c</field>
            <value>
                <elementReference>GetContact.Channel_Covered_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Firm_Type__c</field>
            <value>
                <elementReference>GetContact.Firm_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Sales_Person_Team__c</field>
            <value>
                <elementReference>GetContact.Sales_Person_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIA_Total_Assets_RIA_FIRM__c</field>
            <value>
                <elementReference>GetContact.Total_Assets_RIA_FIRM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID number of the NameID (WhoID) that triggered the flow from the Task/Event.</description>
        <name>ActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID number of the NameID (WhoID) that associated with the task/event</description>
        <name>WhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
