PROD-12-18-19/force-app/main/default/flows/PrincipalRelationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Selected_Contacts</name>
        <label>Selected Contacts</label>
        <locationX>339</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>varSelectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Principal_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WasContactSelected</name>
        <label>WasContactSelected</label>
        <locationX>544</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>Contact Not Selected</defaultConnectorLabel>
        <rules>
            <name>Contact_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>nContacts.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Contact Selected</label>
        </rules>
    </decisions>
    <description>Create principal relationships and flag accounts for executive reporting purposes</description>
    <dynamicChoiceSets>
        <name>varContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PrincipalRelationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrincipalRelationships</label>
    <loops>
        <name>LoopMasterContacts</name>
        <label>LoopMasterContacts</label>
        <locationX>340</locationX>
        <locationY>372</locationY>
        <assignNextValueToReference>nContacts</assignNextValueToReference>
        <collectionReference>MasterContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRelationship</name>
        <label>CreateRelationship</label>
        <locationX>540</locationX>
        <locationY>473</locationY>
        <inputReference>NewRelationships</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contacts</name>
        <label>Lookup Contacts</label>
        <locationX>338</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopMasterContacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>MasterContacts</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Record_Lookup</name>
        <label>Record Lookup</label>
        <locationX>143</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Principal_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSelectedAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Select_Principal_Contacts</name>
        <label>Select Principal Contacts</label>
        <locationX>338</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Contacts</targetReference>
        </connector>
        <fields>
            <name>Principal_Contacts</name>
            <choiceReferences>varContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Principal Contacts to Create Relationship</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Record_Lookup</startElementReference>
    <status>Draft</status>
    <variables>
        <name>MasterContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>nContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varSelectedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
