PROD-12-18-19/force-app/main/default/flows/UpdateContactAssetClass.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Contact_Real_Estate_Null</name>
        <label>Is Contact Real Estate Null</label>
        <locationX>203</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Result1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Real Estate Not Null</defaultConnectorLabel>
        <rules>
            <name>Contact_Real_Estate_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VC_RealEstate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount_Real_Estate</targetReference>
            </connector>
            <label>Contact Real Estate is Null</label>
        </rules>
    </decisions>
    <description>Test if multipick list can be updated with a flow
Test record is set to 
https://na2.salesforce.com/0034000001UOuCT</description>
    <label>UpdateContactAssetClass</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookUpAccount</name>
        <label>LookUpAccount</label>
        <locationX>201</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Real_Estate_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VC_AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VA_RealEstate</assignToReference>
            <field>Real_Estate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Looks up passed contact and gets Account ID</description>
        <name>LookUpConact</name>
        <label>LookUpConact</label>
        <locationX>201</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUpAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VC_ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VC_AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VC_RealEstate</assignToReference>
            <field>Real_Estate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount_Real_Estate</name>
        <label>UpdateAccount Real Estate</label>
        <locationX>510</locationX>
        <locationY>400</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VC_ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Real_Estate__c</field>
            <value>
                <elementReference>VA_RealEstate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Result1</name>
        <label>Result1</label>
        <locationX>205</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mes</name>
            <fieldText>{!Contact_Real_Estate_is_Null}
C = {!VC_RealEstate}
A= {!VA_RealEstate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookUpConact</startElementReference>
    <status>Draft</status>
    <variables>
        <name>VA_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VC_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pass the contact ID to the Flow</description>
        <name>VC_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0034000001UOuCT</stringValue>
        </value>
    </variables>
    <variables>
        <name>VC_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
